
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Covid-19</title>



    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <!-- Custom styles for this template -->
    <link href="css/styles.css" type="text/css" rel="stylesheet">
  </head>
  <body class="text-center"  id="indexid">
    <form action="/" class="form-signin" method="post">
  <h1 style="font-size:40px" id="temp" >LOGIN</h1>

  <input type="text" name="usermame" class="form-control" placeholder="Username" required autocomplete="off">

  <input type="password" name="password" class="form-control" placeholder="Password" required>
  <p> <%= inco %> </p>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>
</body>
</html>
