<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid-19</title>
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    body {
 background-image: url("https://www.nsinsurance.com/wp-content/uploads/sites/9/2020/03/virus-4835301_640.jpg");
 background-color: #cccccc;
 background-position: center;
  background-size: cover;
}
</style>
</head>
  <body class="text-center option-page">
<form class="form-signin" method="post" >

    <button formaction="/insert"  class="btn btn-lg btn-primary btn-block" type="submit" >Insert</button>
    <button formaction="/search" class="btn btn-lg btn-primary btn-block" type="submit">Search/Update</button>
    <button formaction="/view" class="btn btn-lg btn-primary btn-block" type="submit">View</button>
    <button formaction="/logout" class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>


</form>

  </body>
</html>
